*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

img {
  display: block;
}

button {
  outline: none;
  cursor: pointer;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "roboto-regular", sans-serif !important;
  color: #fff !important;
  background: #0d0629 !important;
}

body.open {
  height: 100vh;
  overflow-y: hidden;
}

@font-face {
  font-family: "roboto-regular";
  src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff);
}
@font-face {
  font-family: "roboto-medium";
  src: url(../fonts/Roboto-Medium.woff2), url(../fonts/Roboto-Medium.woff);
}
@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/Roboto-Bold.woff2), url(../fonts/Roboto-Bold.woff);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto-bold" !important;
  color: #fff !important;
}

h1 {
  font-size: clamp(3rem, calc(3rem + 2vw), 6rem) !important;
  line-height: 1.3;
  margin-bottom: 4rem;
}

@media screen and (max-width:600px) {
	.header__divider {
		padding: 0!important;
	}
}

h2 {
  font-size: clamp(2.4rem, 3rem + 2vw, 4.5rem);
  line-height: 1.3;
  margin-bottom: 4rem;
}

h3 {
  font-size: clamp(1.4rem, 1.6rem + 1vw, 1.8rem);
  line-height: 1.5;
}

h4 {
  font-size: clamp(1.6rem, 1.6rem + 1vw, 2rem);
  line-height: 1.5;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "roboto-regular" !important;
}

p {
  color: #fff;
  font-family: "roboto-regular" !important;
}

div {
  font-family: "roboto-regular" !important;
}

.btn-custom {
  padding: 1rem 1.6rem !important;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  display: inline-flex;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: #f3ff49;
  text-wrap: nowrap;
  border: 1px solid #f3ff49;
  line-height: 1;
  transition: 0.5s ease;
}
.btn-custom img {
  padding-left: 0.5rem;
}
.btn-custom:hover {
  background: #f3ff49;
  color: #0d0629;
}
.btn-custom--accent {
  background: #f3ff49;
}
.btn-custom--accent:hover {
  background: #f0ff16;
}

.btn-outline {
  border: 1px solid #0d0629 !important;
  color: #0d0629 !important;
  padding: 1.6rem 2.6rem !important;
  background-color: transparent !important;
}
.btn-outline:hover {
  background-color: black !important;
  color: #f3ff49 !important;
}

.block__header {
  font-size: 1.6rem;
  color: #0d0629 !important;
  background: #f3ff49;
  padding: 1.7rem 2rem;
  border-radius: 0.8rem;
  line-height: 1;
  position: relative;
  margin-bottom: 3rem;
  font-family: "roboto-medium" !important;
}
.block__header::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 2rem;
  width: 0;
  height: 0;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-top: 0.8em solid #f3ff49;
}

span.tag {
  background-color: #ff0077;
  font-size: 1rem;
  padding: 0.2rem 1.4rem;
  border-radius: 2rem;
}

.meta__info {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}
.meta__info span {
  opacity: 0.5;
}

.back__to__top {
  position: fixed;
  bottom: 5%;
  right: 3rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s ease;
}
.back__to__top a {
  background: #0d0629;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #f3ff49;
  display: grid;
  place-content: center;
}
.back__to__top a img {
  height: 2.5rem;
  width: 2.5rem;
}

.back__to__top.active {
  opacity: 1;
}

.register__block .input__wrapper .quicktags-toolbar input {
  width: auto;
}

.footer {
  background: #0d0629;
  color: #fff;
  padding: 10rem 0 0;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  gap: 5rem;
}
@media screen and (max-width: 80rem) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}
@media screen and (max-width: 45rem) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.footer .footer__box > img {
  margin-bottom: 2rem;
  width: 12.9rem;
  height: auto;
}
.footer .footer__box h3 {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-family: "roboto-regular" !important;
}
.footer .footer__box .links li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #2a243e;
}
.footer .footer__box .links li a {
  display: flex;
  text-transform: uppercase;
  gap: 1rem;
  color: #fff;
}
.footer .footer__box .links li a:hover {
  text-decoration: underline;
}
.footer .footer__box ul {
  list-style: none;
}
.footer .footer__box .item__card {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer .footer__box .item__card a img {
  border-radius: 1rem;
  height: 8rem !important;
  width: 8rem !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer__box .item__card small {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer .footer__box .item__card h5 {
  max-width: 20rem;
  width: 100%;
  font-size: 1.8rem;
}
.footer .footer__box .item__card h5 a {
  color: #fff;
}
.footer .social__links {
  display: flex;
  gap: 2rem;
}
.footer .social__links img {
  width: 1.4rem;
  height: 1.4rem;
}
.footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 45rem) {
  .footer .copyright {
    flex-direction: column;
    gap: 2rem;
  }
}
.footer .copyright ul {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  list-style: none;
}
.footer .copyright ul a {
  color: #fff;
}
.footer .information {
  font-size: 1.6rem;
}
.footer .information p {
  margin-bottom: 3rem;
}

.header {
  padding: 2rem 0 0;
  position: relative;
  overflow-x: clip;
}
.header__divider {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3rem 0;
}
.header__brand img {
  width: 15rem;
}
.header__logo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  padding-bottom: 2rem;
}
.header__logo ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-bottom: 0;
}
.header__logo ul a {
  color: #fff !important;
}
.header__logo > a {
  justify-self: center;
}
.header__social {
  margin-bottom: 0;
}
.header__social img {
  width: 1.3rem;
}
@media screen and (max-width: 80rem) {
  .header__social {
    display: none !important;
  }
}
.header__search {
  width: 31.3rem;
}
@media screen and (max-width: 80rem) {
  .header__search {
    display: none !important;
  }
}
.header__search .input__wrap {
  width: 100%;
}
.header__search .input__wrap input {
  max-width: 31.3rem;
  height: 3.4rem;
}
.header__signup {
  display: block;
}
.header__signup a.btn-custom {
  padding: 1.5rem 2.4rem !important;
  margin-left: 1rem;
}
@media screen and (max-width: 80rem) {
  .header__signup {
    display: none !important;
  }
}
.header .mobile__social {
  display: none;
}
@media screen and (max-width: 80rem) {
  .header .mobile__social {
    display: flex;
  }
}
.header .mobile__signup.signup {
  display: none;
}
@media screen and (max-width: 80rem) {
  .header .mobile__signup.signup {
    display: flex;
  }
}
.header .signup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0rem;
}
.header .signup > ul {
  margin: 0 2rem 0 1rem;
  gap: 0.5rem;
}
.header .signup > ul a {
  color: #fff;
}
.header__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 80rem) {
  .header__main {
    height: 0;
    padding: 0rem;
  }
}
.header__main .hamburger {
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 80rem) {
  .header__main .hamburger {
    display: none;
  }
}
.header__main .hamburger span {
  width: 3rem;
  display: block;
  height: 0.2rem;
  margin-bottom: 0.5rem;
  background: #fff;
}
.header__main .mobile__hamburger {
  display: none;
}
@media screen and (max-width: 80rem) {
  .header__main .mobile__hamburger {
    display: block;
    position: absolute;
    top: 3rem;
    right: 0rem;
  }
}
.header__main nav.open {
  height: 100dvh;
}
.header__main nav {
  justify-self: center;
}
.header__main nav ul {
  list-style: none;
  margin-bottom: 0;
}
.header__main nav ul a {
  color: #fff;
}
.header__main nav ul a:hover {
  color: #f3ff49;
}
@media screen and (max-width: 80rem) {
  .header__main nav {
    overflow: hidden;
    position: fixed;
    top: 78px;
    left: 0;
    height: 0dvh;
    width: 100%;
    z-index: 99999;
    background: #0d0629;
    transition: 0.5s ease;
  }
  .header__main nav > ul {
    flex-direction: column;
    margin-top: 5rem;
    padding: 4rem;
    gap: 0 !important;
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }
  .header__main nav > ul li {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header__main nav > ul a {
    display: block;
    line-height: 1;
  }
  .header__main nav .mobile__social {
    flex-direction: row;
    gap: 3rem !important;
    width: 100%;
    justify-content: center;
  }
  .header__main nav .mobile__social li {
    border: none !important;
  }
  .header__main nav .mobile__signup {
    justify-content: center;
    flex-direction: column;
  }
  .header__main nav .mobile__signup img {
    display: none;
  }
  .header__main nav .mobile__signup ul {
    flex-direction: row;
    padding: 0;
    gap: 1rem !important;
    align-items: center;
    margin-bottom: 1rem;
  }
  .header__main nav .mobile__signup ul li {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    border: none;
  }
}
.header__main nav ul {
  display: flex;
  gap: 3rem;
}
.header__main nav ul a {
  text-transform: uppercase;
}
.header__main form {
  justify-self: flex-end;
}

.input__wrap {
  position: relative;
}
.input__wrap input {
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
  min-width: 25rem;
  max-width: 25rem;
  width: 100%;
  display: block;
  background: #6e6a7f;
  border: none !important;
}
.input__wrap input::-moz-placeholder {
  color: #b5b2bd;
  font-size: 1.4rem;
}
.input__wrap input::placeholder {
  color: #b5b2bd;
  font-size: 1.4rem;
}
.input__wrap img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  width: 1.4rem;
}

.current__user {
  padding-right: 1rem;
  text-transform: capitalize;
}

.border__bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header__signup .dropdown:hover .dropdown__menu {
  display: block;
}
.header__signup .dropdown {
  position: relative;
  display: flex;
}
.header__signup .dropdown__menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 15rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #0d0629;
  color: #fff;
  z-index: 50;
  display: none;
}
.header__signup .dropdown__menu ul {
  display: block;
  margin-bottom: 0;
}
.header__signup .dropdown__menu ul li {
  padding: 0.5rem 1.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__signup .dropdown__menu ul li a {
  color: #fff;
  font-size: 1.4rem;
}
.header__signup .dropdown__menu ul li a:hover {
  color: #f3ff49;
}

.banner {
  position: relative;
  min-height: 25rem;
  background: #0d0629;
}
.banner__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100rem;
}
.banner__content span {
  color: #f3ff49;
}

main.homepage {
  padding: 2rem 0;
}

.homepage {
  background: #0d0629;
  color: #fff;
}
.homepage__wrapper {
  display: grid;
  grid-template-columns: 30rem 1fr 30rem;
  gap: 5rem;
  align-items: flex-start;
}
@media screen and (max-width: 80rem) {
  .homepage__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.press__item {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 45rem) {
  .press__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.press__item__image {
  position: relative;
}
.press__item__image img {
  border-radius: 0.8rem;
  height: 15rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 45rem) {
  .press__item__image img {
    height: 20rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.press__item__image .tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #ff0077;
  font-size: 1rem;
  padding: 0.2rem 1.4rem;
  border-radius: 2rem;
}
.press__item__content .meta {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.press__item__content .meta div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.press__item__content .meta div span {
  text-wrap: nowrap;
  font-size: 1.2rem;
  opacity: 0.5;
}
.press__item__content h5 {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.press__item__content h5 a {
  color: #fff;
  opacity: 1 !important;
}
.press__item__content h5 a:hover {
  color: #f3ff49;
}
.press__item__content p {
  opacity: 0.5;
  font-size: 1.4rem;
  color: #fff;
}

.viewed .full__access {
  padding: 2rem 1.5rem;
  border: 1px solid #fff;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}
.viewed .full__access h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.viewed .full__access p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #fff;
}
.viewed__item__content {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.viewed__item__content small {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
}
.viewed__item__content small span {
  opacity: 0.5;
}
.viewed__item__content h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.viewed__item__content h4 a {
  color: #fff;
  opacity: 1;
}
.viewed__item__content h4 a:hover {
  color: #f3ff49;
}
.viewed__item__content p {
  font-size: 1.4rem;
  opacity: 0.5;
  color: #fff;
}
.viewed .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.viewed .info small {
  display: flex;
  gap: 1rem;
}
.viewed .info span {
  background-color: #ff0077;
  font-size: 1rem;
  padding: 0.2rem 1.4rem;
  border-radius: 2rem;
}

.subscriber {
  border-top: 1px solid #2a243e;
  border-bottom: 1px solid #2a243e;
  background: #0b0522;
  padding: 9rem 0;
}
.subscriber__wrapper {
  display: grid;
  grid-template-columns: 39rem 2fr;
  gap: 10rem;
}
@media screen and (max-width: 80rem) {
  .subscriber__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    gap: 1rem;
  }
}
.subscriber__header {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
}
.subscriber__header img {
  width: 17px;
  height: auto;
  transform: translateY(5px);
}
@media screen and (max-width: 80rem) {
  .subscriber__header {
    justify-content: center;
    gap: 2rem;
  }
}
.subscriber__header h3 {
  font-size: 2.3rem;
}
.subscriber__header h3 span {
  display: block;
  font-size: 1.4rem;
}
.subscriber__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscriber__form .input__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 80rem) {
  .subscriber__form .input__wrap {
    flex-direction: column;
  }
}
.subscriber__form input {
  padding: 1.7rem 2rem;
  max-width: 40rem;
}
.subscriber__form button {
  margin-left: auto;
  padding: 1.6rem 3rem !important;
}
@media screen and (max-width: 80rem) {
  .subscriber__form button {
    margin: 2rem auto;
  }
}

.filter {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
@media screen and (max-width: 80rem) {
  .filter {
    order: 3;
  }
}
.filter__block:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.filter__block:last-child {
  padding-top: 2rem;
}
.filter__block {
  padding: 2rem;
}
.filter__block ul {
  list-style: none;
}
.filter__block > a {
  font-size: 1.4rem;
  margin-top: 2rem;
  display: block;
  color: #fff;
}
.filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.filter__header h4 {
  margin-bottom: 0rem;
  font-size: 1.6rem;
}
.filter__header img {
  transform: rotate(-90deg);
  width: 1.6rem;
  height: 1.6rem;
}
.filter ul li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.filter ul li a {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1rem;
}
.filter ul li a input {
  width: 1.2rem;
  height: 1.2rem;
}
.filter label {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

input[type=checkbox] {
  display: grid;
  place-content: center;
  font-size: 1rem;
  border: 1px solid #f3ff49;
  width: 1.5rem;
  height: 1.5rem;
  accent-color: #f3ff49;
}

.btn-loadmore {
  background: transparent;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #f3ff49;
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn-loadmore:hover {
  background: transparent;
  text-decoration: underline;
}

.author__banner {
  min-height: 50rem;
  background-color: #0d0629;
  position: relative;
  background-image: url("../images/author-banner.jpg");
  background-size: cover;
  background-position: center;
  background-isolation: isolate;
}
.author__banner::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 100%;
  background-image: linear-gradient(to top, #0d0629 10%, transparent);
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}
.author__banner__content {
  margin-left: calc((100vw - 130rem) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50rem;
  z-index: 50;
  position: relative;
  z-index: 2;
}
.author__banner .breadcrumb {
  display: flex;
  gap: 1rem;
}
.author__banner .breadcrumb a {
  color: #fff;
}
.author__banner .breadcrumb a:hover {
  text-decoration: underline;
}

.release {
  background: #0d0629 !important;
  color: #fff !important;
  padding: 5rem 0;
}
.release__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5rem;
}
@media screen and (max-width: 45rem) {
  .release__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.release__card {
  margin-bottom: 4rem;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 45rem) {
  .release__card {
    flex-direction: column;
  }
}
.release__card > img {
  height: auto;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 45rem) {
  .release__card > img {
    height: 250px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.release__card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.release__card__content small {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.release__card__content h3 {
  margin-bottom: 1.5rem;
}
.release__card__content a {
  display: inline-block;
  margin-top: auto;
  flex: 0 1 0;
}
@media screen and (max-width: 45rem) {
  .release__card__content a {
    margin-top: 3rem;
  }
}

.release__author__info {
  text-align: center;
  background: #0b0522;
  padding: 3rem 1rem;
  border-radius: 1rem;
}
.release__author__info > img {
  border-radius: 50%;
  margin-inline: auto;
}
.release__author__info h3 {
  margin-block: 2rem;
}
.release__author__info small {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}
.release__author__info p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

.single {
  background: #0d0629;
  color: #fff;
}
.single__wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5rem;
}
@media screen and (max-width: 80rem) {
  .single__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.single__main__image {
  position: relative;
}
.single__main__image img {
  height: 50rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 4rem;
}
.single__main__content > div {
  padding-bottom: 2rem !important;
  font-family: "roboto-regular";
}
.single__main__content h1 {
  font-size: clamp(1.8rem, 2rem + 2vw, 3.6rem) !important;
  margin-bottom: 1rem;
}
.single__main__content small {
  margin-bottom: 0.5rem;
}
.single__main__content small a {
  color: #fff;
}
.single__main__content h2 {
  font-size: clamp(1.6rem, 1.8rem + 2vw, 2.4rem);
  margin-bottom: 2rem;
}
.single__main__content p {
  font-size: 1.6rem;
  opacity: 0.8;
  margin-bottom: 3rem;
  line-height: 1.6;
  color: #fff;
}
.single__main__content .tag {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3rem;
  font-size: 1.4rem;
}
.single__main__content > img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3rem;
}
.single__main__content .meta__info a {
  color: #fff;
}

.assets {
  margin: 5rem 0;
  padding: 3rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.assets__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.assets__header h2 {
  margin-bottom: 0;
  font-size: clamp(1.6rem, 1.8rem + 2vw, 2.2rem);
}
.assets__header .btn {
  gap: 1rem;
}
.assets__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 80rem) {
  .assets__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}
@media screen and (max-width: 45rem) {
  .assets__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.assets__card {
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
.assets__card h4 {
  margin-bottom: 0;
  font-size: clamp(1.2rem, 1.2rem + 2vw, 1.4rem);
  margin-top: 1rem;
}
.assets__card > img {
  border-radius: 0.5rem;
  border: 1px solid #fff;
  height: 120px;
  width: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 80rem) {
  .assets__card > img {
    height: 150px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.assets__card p {
  margin-bottom: 0.2rem;
}
.assets__card ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}
.assets__card ul li {
  font-size: 1rem;
}
.assets__card ul li span {
  text-transform: uppercase;
}
.assets__card button {
  background-color: transparent;
  border: none;
}
.assets__card button:hover {
  background: transparent;
}

.contact h3 {
  font-size: clamp(1.6rem, 1.8rem + 2vw, 2.4rem);
}

.author {
  padding: 3rem;
  margin-bottom: 5rem;
  background: #0b0522;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 2rem;
}
@media screen and (max-width: 80rem) {
  .author {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.author > img {
  border-radius: 50%;
}
.author h4 {
  margin-bottom: 1rem;
  font-size: clamp(1.6rem, 1.8rem + 2vw, 2.4rem);
}
.author h4 a {
  color: #fff !important;
}
.author h4 a:hover {
  text-decoration: underline;
}
.author > img {
  width: 14rem;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.author__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.author__header small {
  margin-bottom: 0;
  color: #f3ff49;
  font-size: 16px;
}
.author__header ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.author__header img {
  width: 1.4rem;
  height: 1.4rem;
}
.popular__post {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.popular__post h4 a {
  color: #fff;
  font-family: "roboto-medium";
}
.popular__post h4 a:hover {
  color: #f3ff49;
  text-decoration: underline;
}
.popular__post__image {
  position: relative;
}
.popular__post__image img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.popular__post__image .tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.popular ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.popular ul li {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.popular__card {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.popular__card small span {
  opacity: 0.5;
}
.popular__card a {
  color: #fff;
}
.popular__card a:hover {
  color: #f3ff49;
  text-decoration: underline;
}

.single__aside h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-family: "roboto-medium" !important;
}
.single__aside > img {
  width: 100%;
  height: 22.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.single__aside p {
  font-size: 1.5rem;
  opacity: 0.8;
  color: #fff;
}
.single__aside small {
  display: flex;
  gap: 1rem;
}
.single__aside ul li {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.single__aside ul li img + span {
  opacity: 0.5;
}

.insert__link {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #0d0629;
  opacity: 0.7;
  font-size: 1.2rem;
}
.insert__link:hover {
  text-decoration: underline;
  background: transparent;
}

#external-links-fields input {
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  color: #0d0629;
  display: none;
  margin-bottom: 1rem;
}

#external-links-fields.open input {
  display: block;
}

#external-links-fields input:last-child {
  display: none;
}

.single__category__list {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.single__category__list span {
  background-color: #ff0077;
  font-size: 1rem;
  padding: 0.2rem 1.4rem;
  border-radius: 2rem;
  font-size: 1.4rem;
}

.tag__wrap {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 80rem) {
  .tag__wrap {
    gap: 0.5rem;
  }
}
.tag__wrap .tag {
  margin-top: 0.3rem;
}

.page__banner {
  min-height: 32rem;
  background: #110835;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page__banner__wrapper h2 {
  font-size: clamp(3rem, 6vw, 3.6rem);
  font-family: "roboto-medium" !important;
}
.page__banner__wrapper ul {
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
.page__banner__wrapper ul li {
  opacity: 0.5;
  transition: 0.5s ease;
}
.page__banner__wrapper ul li:has(:hover) {
  opacity: 1;
}
.page__banner__wrapper ul a {
  color: #fff;
}

.register {
  background-color: #f2f2f4;
  padding: 6rem 0;
}
.register__content {
  max-width: 94rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #0d0629;
}
.register__content h3 {
  font-size: clamp(2rem, 2rem + 2vw, 3.6rem);
  margin-bottom: 2rem;
}
.register__content > * {
  color: #0d0629 !important;
}
.register__content p {
  font-size: 1.4rem;
}

.register__block {
  max-width: 75rem;
  width: 100%;
  margin-bottom: 5rem;
}
.register__block h4 {
  color: #0d0629 !important;
  font-weight: 400;
  font-size: clamp(1.8rem, 1.8rem + 2vw, 2.4rem);
  margin-bottom: 1.5rem;
}
.register__block p {
  color: #0d0629 !important;
  font-size: 1.4rem;
}
.register__block .register__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 45rem) {
  .register__block .register__grid {
    grid-template-columns: 1fr;
  }
}
.register__block .register__grid.opt {
  grid-template-columns: 8rem 8rem;
}
.register__block .input__wrapper label {
  font-size: 1.5rem;
  color: #0d0629;
}
.register__block .input__wrapper input, .register__block .input__wrapper select, .register__block .input__wrapper textarea {
  width: 100%;
  padding: 1.2rem 3rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  color: #0d0629;
  height: 5.2rem;
}
.register__block .input__wrapper input::-moz-placeholder, .register__block .input__wrapper select::-moz-placeholder, .register__block .input__wrapper textarea::-moz-placeholder {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 1.4rem;
}
.register__block .input__wrapper input::placeholder, .register__block .input__wrapper select::placeholder, .register__block .input__wrapper textarea::placeholder {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 1.4rem;
}
.register__block .input__wrapper textarea {
  max-height: 30rem;
  min-height: 30rem;
  height: 100%;
  overflow-y: auto;
  resize: none;
}
.register__block .input__wrapper select option[hidden] {
  text-transform: uppercase;
  opacity: 0.5;
  color: red;
}
.register__block .input__wrapper.dob .grid {
  display: grid;
  grid-template-columns: 1fr 1.15fr 1fr;
  gap: 1rem;
  position: relative;
}
.register__block .input__wrapper.dob .grid label {
  grid-column: 1/-1;
}
.register__block .input__wrapper.dob .grid p {
  position: absolute;
  top: -2.3rem;
  right: 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.4;
  cursor: pointer;
}
.register__block .input__wrapper.dob .grid p:hover {
  text-decoration: underline;
}
.register__block .input__wrapper.dob .grid p:hover::after, .register__block .input__wrapper.dob .grid p:hover::before {
  visibility: visible;
  opacity: 1;
}
.register__block .input__wrapper.dob .grid p::after {
  content: "We use age to verify purposes. We do not store it. ";
  position: absolute;
  top: -7rem;
  right: 0;
  padding: 1rem;
  font-size: 1.2rem;
  background: #fff;
  width: 20rem;
  border-radius: 1rem;
  border: 1px solid rgba(13, 6, 41, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.register__block .input__wrapper.dob .grid p::before {
  content: "";
  position: absolute;
  bottom: 2.4rem;
  right: 2rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.register__block .input__wrapper.dob .grid p img {
  width: 1.6rem;
}
.register__block .input__wrapper.checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 9rem;
}
.register__block .input__wrapper.checkbox input {
  width: 2.5rem;
}
.register__block .input__wrapper.checkbox label {
  font-size: 1.4rem;
}

.input__wrapper.toc {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.input__wrapper.toc input {
  width: 2.5rem;
  height: 2.5rem;
}
.input__wrapper.toc label {
  font-size: 1.4rem;
  color: #0d0629;
}
.input__wrapper.toc label a {
  text-decoration: underline;
}

.register.announcement .register__block .register__grid {
  grid-template-columns: 1fr;
}
.register.announcement .btn-custom {
  justify-self: flex-start;
}

.error-msg {
  padding: 0.4rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
  color: red;
}

.page__banner.announcement {
  background-image: url("../images/geekpress-banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.page__banner.announcement::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #0d0629, transparent);
}
.page__banner.announcement .page__banner__wrapper {
  position: relative;
  z-index: 50;
}

.assets__wrapper.dark {
  width: 100%;
}
@media screen and (max-width: 45rem) {
  .assets__wrapper.dark {
    grid-template-columns: 1fr;
  }
}
.assets__wrapper.dark .assets__card {
  border: 1px solid #0d0629;
  width: 100%;
  color: #0d0629;
}
.assets__wrapper.dark .assets__card > img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.assets__wrapper.dark .file-input {
  width: 20rem;
  border: 1px solid #0d0629;
  border-radius: 1rem;
  height: 16.2rem;
  overflow: hidden;
}
.assets__wrapper.dark .file-input input[type=file] {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.assets__wrapper.dark .file-input label {
  height: 110%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transform: translateY(-18.8%);
  color: #0d0629;
}
.assets__wrapper.dark .file-input label svg, .assets__wrapper.dark .file-input label span {
  transform: translateY(-5px);
  font-size: 1.6rem;
}
.assets__wrapper.dark .file-input label:hover {
  background: #0d0629;
  color: #fff;
}
.assets__wrapper.dark .file-input label:hover svg {
  stroke: #fff;
}

.medialink {
  margin: 0rem 0 2rem;
}
.medialink h5 {
  color: #0d0629 !important;
  margin-bottom: 3rem;
  font-size: 15px;
  font-family: "roboto-medium";
}
.medialink ul {
  list-style: none;
}
.medialink ul li {
  margin-bottom: 0.7rem;
}
.medialink ul button {
  text-transform: uppercase;
  display: flex;
  gap: 0.5rem;
  opacity: 0.6;
  font-size: 1.4rem;
  line-height: 1.2;
  padding-left: 0;
}

.choices {
  border-radius: 1rem;
}

.choices__inner {
  border: none !important;
  padding: 0.3rem !important;
  background-color: #fff !important;
  min-height: unset !important;
}
.choices__inner input {
  margin-bottom: 0 !important;
}

.choices__input {
  background-color: #fff !important;
  padding-top: 9px 0 !important;
  margin-bottom: 0;
  min-height: unset !important;
}

.choices__item {
  color: #0d0629;
}

.choices__list {
  padding-left: 0.5rem;
}

.choices__list--multiple .choices__item {
  padding: 2px 10px !important;
  margin-bottom: 0 !important;
  background: #ff0077 !important;
  border: 1px solid #ff0077 !important;
  color: #fff !important;
}
.choices__list--multiple .choices__item button:hover {
  background-color: #ff0077 !important;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  border-left: 1px solid #fff !important;
}

.choices__list--multiple .choices__item {
  margin-top: 0.3rem !important;
}

.image_preview {
  display: none;
}

.image_preview.show {
  display: block;
}

.asset__upload__wrapper {
  display: flex;
  margin-bottom: 2rem;
}

.register__block.xl {
  max-width: 85rem;
  max-width: 100%;
}

.asset__upload__wrapper.xl {
  display: flex !important;
  flex-wrap:wrap !important;
}
.asset__upload__wrapper.xl .assets__wrapper.dark {
  display: unset;
  width: unset;
}

.preview__container {
  display:contents !important;
}

.preview__container .preview {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #0d0629;
  color: #0d0629;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.preview__container .preview h5 {
  font-size: 1.4rem;
  color: #0d0629 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 17rem;
  margin-bottom: 0;
}
.preview__container .preview img {
  height: 9rem;
  width: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.preview__container .preview ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.preview__container .preview button {
  background: transparent;
  color: #0d0629;
  padding-right: 0;
}

.featpreview__container:has(> *) {
  display: block !important;
}

.feat__upload__wrapper {
  display: flex;
}

.featpreview__container {
  display: none;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #0d0629;
  color: #0d0629;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.featpreview__container h5 {
  font-size: 1.4rem;
  color: #0d0629 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 17rem;
  margin-bottom: 0;
}
.featpreview__container img {
  height: 9rem;
  width: 19rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.featpreview__container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.error__container {
  padding: 1rem;
  border: red;
  margin-bottom: 1rem;
  color: rgba(255, 0, 0, 0.6);
}

.feat__preview__wrapper .file-input {
  width: 20rem;
  border: 1px solid #0d0629;
  border-radius: 1rem;
  height: 16.2rem;
  overflow: hidden;
}
.feat__preview__wrapper .file-input input[type=file] {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.feat__preview__wrapper .file-input label {
  height: 110%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transform: translateY(-18.8%);
  color: #0d0629;
}

.wrapper-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50rem;
}
.wrapper-success p {
  color: #fff;
}

.about {
  background: #f7f8fa;
}
.about__grid {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: 58rem 1fr;
  gap: 5rem;
}
@media screen and (max-width: 45rem) {
  .about__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
.about__grid__image img {
  border-radius: 1rem;
}
.about__grid__content h3 {
  color: #0d0629 !important;
  font-size: clamp(2.6rem, 2.6rem + 1vw, 3.6rem);
}

.howto {
  padding: 8rem 0;
}
.howto h4 {
  color: #f3ff49 !important;
  font-size: clamp(2rem, 2rem + 1vw, 2.4rem);
  margin-bottom: 2rem;
}
.howto p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.howto hr {
  margin: 5rem 0;
}
.howto a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline !important;
}

.login {
  background: #f7f8fa;
}
.login__wrapper {
  padding: 8rem 0;
}
.login .register__block .input__wrapper {
  margin-bottom: 1.5rem;
}
.login .register__block .input__wrapper.checkbox {
  min-width: 14rem;
  margin-bottom: 0;
  gap: 1rem;
}
.login__action {
  margin: 3rem 0 0;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.login__action input[type=submit] {
  margin-bottom: 0;
  padding: 1.6rem 3.6rem !important;
}
.login__action input[type=checkbox] {
  width: 2.5rem;
  height: 2.5rem;
}
.login__action div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login__action div label {
  font-size: 1.4rem;
  color: #0d0629;
}
.login .forgot__password {
  font-size: 1.4rem;
  color: #0d0629;
}
.login .forgot__password:hover {
  text-decoration: underline;
}

.container {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.container.wider {
  max-width: 160rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.bg-accent {
  background-color: #f3ff49;
}

.text-accent {
  color: #f3ff49;
}

.border-accent {
  border-color: #f3ff49;
}

.bg-light {
  background-color: #fff;
}

.text-light {
  color: #fff;
}

.border-light {
  border-color: #fff;
}

.bg-gray {
  background-color: #f7f8fa;
}

.text-gray {
  color: #f7f8fa;
}

.border-gray {
  border-color: #f7f8fa;
}

.bg-dark {
  background-color: #0d0629;
}

.text-dark {
  color: #0d0629;
}

.border-dark {
  border-color: #0d0629;
}

.icon {
  width: 18px;
  height: 18px;
}/*# sourceMappingURL=main.min.css.map */