$accent: #f3ff49;
$pink: #ff0077;
$light: #fff;
$gray: #f7f8fa;
$dark: #0d0629;

$container-width: 130rem;

$border-opacity: 0.2;

$tablet: 80rem;
$mobile: 45rem;


$font-bold: 'roboto-bold';
$font-medium: 'roboto-medium';
$font-regular: 'roboto-regular';