@use "../abstract" as *;

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "roboto-regular", sans-serif;
  color: $light!important;
  background: $dark!important;
}  



body.open {
  height: 100vh;
  overflow-y: hidden;
}