@use "../abstract/" as *;

.btn {
  padding: 1rem 1.6rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  display: inline-flex;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: $accent;
  text-wrap: nowrap;
  border: 1px solid $accent;
  line-height: 1;
  img {
    padding-left: .5rem;
  }

  &--accent {
    background: $accent;
    &:hover{
      background: darken($accent, 10);
    }
  }
}